<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Digital Ønskeliste En Logget Ind Konto Skaber Et Ønske For En Ønskeseddel</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <section class="side_banner">
        Skab-Ønske-Side Banner
    </section>

    <section class="side_info">
        <p>
            Noget introducerende tekst omkring denne side: Skab et ønske for en ønskeseddel på Digital Ønskeliste Siden,
            som dette er stedet man skaber sig et ønske for en ønskeseddel til en konto der allerede er blevet logget
            ind på. Brugeren (brugerens navn) <!--<span class="inline" th:text="${user.getName()}"></span>--> er ved at lave et
            nyt ønske for ønskesedlen (sedlens titel)<!--<span class="inline" th:text="${wishlist.getTitle()}"></span>.-->
        </p>

        <p>
            Informativ tekst omkring hvad man kan gøre på skab-ønske-siden: En bruger påbegynder et ønske til en
            specifik seddel de har skabt. De kan indføre en titel (obligatorisk), (valgfrit) en pris til ønsket, en
            beskrivelse og et link til hvor man kan finde det ønskede produkt. Derefter kan de trykke skab ønske for at
            sætte det på ønskesedlen eller trykke fortryd ønske for at kommer tilbage til den ønskeseddel man er i:
        </p>
    </section>

    <div class="container">
        <hr>
        <h2>Save Wish</h2>

        <form action="#" th:action="@{/saveWish}" th:object="${wish}" method="POST">

            <input type="text" th:field="*{title}" placeholder="Title" class="form-control mb-4 col-4">

            <input type="text" th:field="*{descr}" placeholder="Description" class="form-control mb-4 col-4">

            <input type="text" th:field="*{price}" placeholder="Description" class="form-control mb-4 col-4">

            <input type="text" th:field="*{link}" placeholder="Description" class="form-control mb-4 col-4">

            <button type="submit" class="btn btn-info col-2"> Save Wish</button>
        </form>

        <hr>

        <a th:href="@{/wishlist_homepage}"> Back to Wishlists</a>
    </div>

</body>
</html>
