<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Update Wish</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>

    <h2>Update Wish</h2>

    <form action="#" th:action="@{/saveWishAfterUpdate}" th:object="${wish}" method="POST">

        <!-- Add hidden form field to handle update -->
        <!--    <input type="hidden" th:field="*{id}" />-->

        <input type="text" th:field="*{title}" placeholder="Title" class="input-felt" maxlength="50" required>

        <input type="text" th:field="*{descr}" placeholder="Description" class="input-felt" maxlength="200">

        <input type="number" th:field="*{price}" placeholder="Price" class="input-felt" maxlength="50">

        <input type="text" th:field="*{link}" placeholder="Link" class="input-felt" maxlength="200">

        <button type="submit" class="btn btn-info col-2"> Update Wish</button>
    </form>

    <a th:href="@{/wishlist_homepage}"> Back to Wishlists</a>
</body>

</html>