<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Digital Ønskeliste En Logget Ind Konto Ser En Ønskeseddel</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>

<div class="sky-background">

    <section class="side_banner relative">
        Se-Ønskeseddel-Side Banner
        <form method="GET" action="/user_homepage">
            <!--<input type="hidden" name="brugernavn" th:value="${user.getBrugernavn()}">-->
            <button type="submit" class="button åben-side corner-button">
                Fortryd ønskeseddel<br>(åbner Konto-Side)
            </button>
        </form>
    </section>

    <section class="side_info">
        <p>
            Noget introducerende tekst omkring denne side: Dette er her hvor man kan se en ønskeseddel, samt de ønsker
            der er for den seddel, for en bruger der er logget ind.
        </p>
        <p>
            Informativ tekst omkring hvad man kan gøre på sin se ønskeseddel side: En bruger kan se en ønskeseddel de
            har skabt og ændre dets titel og beskrivelse. De kan kopiere et link til at dele med andre, så de kan se
            sedlen, men de kan ikke lave ændringer. Bruger kan tilføje/skabe og fjerne ønsker på sedlen, samt se info om
            de ønsker der er på sedlen, samt åbne link til butik der har det ønske eller gå tilbage til sin konto:
        </p>
    </section>

<!--        <article class="share-wishlist" th:text="${wishlist.getShareLink()}">
        http://localhost:8080/share?list_id=(id'et for denne seddel) (kommer wishlist objektet)
    </article>-->

    <section class="wishes">

        <div class="container my-2">
            <h1>Wishes</h1>

            <a th:href="@{/showNewWishForm}" class="btn btn-primary btn-sm mb-3"> Add Wish </a>

            <table class="table-striped table-responsive-md table-background">
                <thead>
                <tr>
                    <!--                    <th>Wish Id</th>-->
                    <th>Title</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Link</th>
                    <th> Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="wish : ${listWishes}">
                    <!--                    <td th:text="${wish.id}"></td>-->
                    <td th:text="${wish.title}"></td>
                    <td th:text="${wish.descr}"></td>
                    <td th:text="${wish.price}"></td>
                    <td th:text="${wish.link}"></td>
                    <td>
                        <a th:href="@{/showWishFormForUpdate/{id}(id=${wish.id})}" class="btn btn-primary">Update</a>
                        <a th:href="@{/deleteWish/{id}(id=${wish.id})}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </section>

</div>

</body>
</html>
