body {
    background-image: url("https://images-bonnier.imgix.net/files/ill/production/2019/07/10091229/ill_hvorfor_er_himlen_blacc8a.png?w=2618&q=60fit=crop&crop=focalpoint&fp-x=0.5&fp-y=0.5&fit=crop&crop=focalpoint");
}

.side_banner {
    text-align: center;
    font-size: 45px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    text-shadow: 2px 2px 1px black;
    border-radius: 10px;
    border: 2px solid black;
    margin-bottom: 40px;
}

.side_info {
    font-size: 20px;
    padding: 10px 25px;
    background-color: lightgrey;
    border: 2px solid black;
    margin-bottom: 40px;
}

.choices {
    background-color: lightgrey;
    padding: 20px 0 20px 0;
    border: 2px solid black;
    display: flex;
    gap: 15rem;
    justify-content: center;
}

.button:hover {
    background-color: coral;
    color: white;
    border: 5px solid black;
    text-shadow: 2px 2px 1px black;
}

.åben-side {
    background-color: black;
    text-align: left;
}

body {
    background-image: url("https://images-bonnier.imgix.net/files/ill/production/2019/07/10091229/ill_hvorfor_er_himlen_blacc8a.png?w=2618&q=60fit=crop&crop=focalpoint&fp-x=0.5&fp-y=0.5&fit=crop&crop=focalpoint");
}

.side_banner {
    text-align: center;
    font-size: 45px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    text-shadow: 2px 2px 1px black;
    border-radius: 10px;
    border: 2px solid black;
    margin-bottom: 40px;
}

.side_info {
    font-size: 20px;
    padding: 10px 25px;
    background-color: lightgrey;
    border: 2px solid black;
    margin-bottom: 40px;
}

.choices {
    background-color: lightgrey;
    padding: 20px 0 20px 0;
    border: 2px solid black;
    display: flex;
    gap: 15rem;
    justify-content: center;
}

.input-felter {
    background-color: grey;
    padding: 20px 0 20px 0;
    border: 2px solid black;
}

.input-felt {
    display: block;
    margin: 10px auto 30px;
    padding: 5px;
    width: 500px;
    height: 30px;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 4px;
}

.button {
    cursor: pointer;
    color: white;
    border: 5px solid blue;
    border-radius: 10px;
    padding: 15px;
    font-family: Arial, serif;
    font-size: 15px;
    text-decoration: none;
    /*De nedenstående styles viser fejl:*/
    transition: background-color 0.2s;
    transition: color 0.2s;
    transition: border 0.2s;
    transition: text-shadow 0.2s;
}


.button:hover {
    background-color: coral;
    color: white;
    border: 5px solid black;
    text-shadow: 2px 2px 1px black;
}


.åben-side {
    background-color: black;
    text-align: left;
}

.åben-side-med-input {
    background-color: red;
    text-align: left;
}

body {
    background-image: url("https://images-bonnier.imgix.net/files/ill/production/2019/07/10091229/ill_hvorfor_er_himlen_blacc8a.png?w=2618&q=60fit=crop&crop=focalpoint&fp-x=0.5&fp-y=0.5&fit=crop&crop=focalpoint");
}

.side_banner {
    text-align: center;
    font-size: 45px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    text-shadow: 2px 2px 1px black;
    border-radius: 10px;
    border: 2px solid black;
    margin-bottom: 40px;
}

.side_info {
    font-size: 20px;
    padding: 10px 25px;
    background-color: lightgrey;
    border: 2px solid black;
    margin-bottom: 40px;
}

.choices {
    background-color: lightgrey;
    padding: 20px 0 20px 0;
    border: 2px solid black;
    display: flex;
    gap: 15rem;
    justify-content: center;
}

.input-felter {
    background-color: grey;
    padding: 20px 0 20px 0;
    border: 2px solid black;
}

.input-felt {
    display: block;
    margin: 10px auto 30px;
    padding: 5px;
    width: 500px;
    height: 30px;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 4px;
}


.button:hover {
    background-color: coral;
    color: white;
    border: 5px solid black;
    text-shadow: 2px 2px 1px black;
}


.åben-side {
    background-color: black;
    text-align: left;
}

.åben-side-med-input {
    background-color: red;
    text-align: left;
}

body {
    background-image: url("https://images-bonnier.imgix.net/files/ill/production/2019/07/10091229/ill_hvorfor_er_himlen_blacc8a.png?w=2618&q=60fit=crop&crop=focalpoint&fp-x=0.5&fp-y=0.5&fit=crop&crop=focalpoint");
}

.side_banner {
    text-align: center;
    font-size: 45px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    text-shadow: 2px 2px 1px black;
    border-radius: 10px;
    border: 2px solid black;
    margin-bottom: 40px;
}

.relative {
    position: relative;
}

.corner-button {
    position: absolute;
    right: 1%;
    top: 5%;
}

.side_info {
    font-size: 20px;
    padding: 10px 25px;
    background-color: lightgrey;
    border: 2px solid black;
    margin-bottom: 40px;
}

.inline {
    display: inline;
}

.wish-lists {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.wish-list {
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-gap: 10px;
    background-color: blue;
    padding: 10px;
    border-radius: 10px;
}

.grid-child {
    background-color: black;

    padding: 10px 10px;
    font-size: 15px;
    color: white;
}

.wish-icons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.button:hover {
    background-color: coral;
    color: white;
    border: 5px solid black;
    text-shadow: 2px 2px 1px black;
}

.small-button {
    cursor: pointer;
    color: white;
    border: 1px solid blue;
    border-radius: 10px;
    padding: 5px;
    font-family: Arial, serif;
    font-size: 10px;
    text-decoration: none;
    transition: background-color 0.2s;
    transition: color 0.2s;
    transition: border 0.2s;
    transtion: text-shadow 0.2s;
}

.small-button:hover {
    background-color: coral;
    color: white;
    border: 1px solid white;
    text-shadow: 2px 2px 1px black;
}


.åben-side {
    background-color: black;
    text-align: left;
}

.åben-side-med-input {
    background-color: red;
    text-align: left;
}

body {
    background-image: url("https://images-bonnier.imgix.net/files/ill/production/2019/07/10091229/ill_hvorfor_er_himlen_blacc8a.png?w=2618&q=60fit=crop&crop=focalpoint&fp-x=0.5&fp-y=0.5&fit=crop&crop=focalpoint");
}

.side_banner {
    text-align: center;
    font-size: 45px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    text-shadow: 2px 2px 1px black;
    border-radius: 10px;
    border: 2px solid black;
    margin-bottom: 40px;
}

.side_info {
    font-size: 20px;
    padding: 10px 25px;
    background-color: lightgrey;
    border: 2px solid black;
    margin-bottom: 40px;
}

.choices {
    background-color: lightgrey;
    padding: 20px 0 20px 0;
    border: 2px solid black;
    display: flex;
    gap: 15rem;
    justify-content: center;
}

.input-felter {
    background-color: grey;
    padding: 20px 0 20px 0;
    border: 2px solid black;
}

.input-felt {
    display: block;
    margin: 10px auto 30px;
    padding: 5px;
    width: 500px;
    height: 30px;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 4px;
}


.button:hover {
    background-color: coral;
    color: white;
    border: 5px solid black;
    text-shadow: 2px 2px 1px black;
}


.åben-side {
    background-color: black;
    text-align: left;
}

.åben-side-med-input {
    background-color: red;
    text-align: left;
}

body {
    background-image: url("https://images-bonnier.imgix.net/files/ill/production/2019/07/10091229/ill_hvorfor_er_himlen_blacc8a.png?w=2618&q=60fit=crop&crop=focalpoint&fp-x=0.5&fp-y=0.5&fit=crop&crop=focalpoint");
}

.side_banner {
    text-align: center;
    font-size: 45px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    text-shadow: 2px 2px 1px black;
    border-radius: 10px;
    border: 2px solid black;
    margin-bottom: 40px;
}

.relative {
    position: relative;
}

.corner-button {
    position: absolute;
    right: 1%;
    top: 5%;
}

.side_info {
    font-size: 20px;
    padding: 10px 25px;
    background-color: lightgrey;
    border: 2px solid black;
    margin-bottom: 40px;
}

.inline {
    display: inline;
}

.share-wishlist {
    text-align: center;
    font-family: cambria, sans-serif;
    font-weight: bold;
    font-size: 35px;
    text-shadow: 2px 2px 4px grey;
    border: 2px solid black;
    padding: 20px 0 20px 0;
    margin-bottom: 40px;
}

.wishes {
    display: flex;
    justify-content: space-around;
    max-height: 35rem;
    margin-bottom: 40px;
}

.wish {
    display: grid;
    grid-template-rows: 1fr 1fr 3fr 1fr 1fr;
    border: 5px solid green;
    border-radius: 5px;
    height: auto;
    width: 20%;
}

.wish-box {
    padding: 10px 5px 10px 5px;
    border: 5px solid darkgreen;
    height: auto;
}

.wish-data {
    font-size: 18px;
    font-family: cambria, serif;
    background-image: linear-gradient(to right bottom, #5cff67, #5cf4ff);
}


.wish-button {
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 10px;
    color: white;
    font-size: 18px;
    text-decoration: none;
    transition: background-color 0.2s;
    transition: color 0.2s;
    transition: border 0.2s;
    transtion: text-shadow 0.2s;
}

.wish-button:hover {
    background-color: coral;
    color: white;
    border: 5px solid black;
    text-shadow: 2px 2px 1px black;
}

.no-wish {
    border: 5px solid green;
    border-radius: 5px;
    height: auto;
    width: 20%;
}

.no-wish > .wish-box {
    height: 100%;
    padding: 0 15px 0 15px;
    text-align: center;
}

#plus-icon {
    width: 70%;
    display: block;
    padding: 35px
}

.wish-lists {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.wish-list {
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-gap: 10px;
    background-color: blue;
    padding: 10px;
    border-radius: 10px;
}

.grid-child {
    background-color: black;

    padding: 10px 10px;
    font-size: 15px;
    color: white;
}

.wish-icons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.button:hover {
    background-color: coral;
    color: white;
    border: 5px solid black;
    text-shadow: 2px 2px 1px black;
}

.small-button:hover {
    background-color: coral;
    color: white;
    border: 1px solid white;
    text-shadow: 2px 2px 1px black;
}


.åben-side {
    background-color: black;
    text-align: left;
}

.åben-side-med-input {
    background-color: red;
    text-align: left;
}

.edit-felter {
    background-color: lightgrey;
    padding: 10px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.edit-felt {
    display: grid;
    gap: 5px;
    grid-template-columns: 5fr 1fr;

}

.grid-box {
    background-color: black;
}

.edit-input {
    width: 98%;
    font-size: 25px;
    padding: 10px;
}

.edit-button {
    cursor: pointer;
    color: white;
    border: 5px solid blue;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    font-family: Arial, serif;
    font-size: 20px;
    transition: background-color 0.2s;
    transition: color 0.2s;
    transition: border 0.2s;
    transtion: text-shadow 0.2s;
}

.edit-button:hover {
    background-color: coral;
    color: white;
    border: 5px solid black;
    text-shadow: 2px 2px 1px black;
}