<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Digital Ønskeliste Forside</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>

<section class="side_banner">
    Forside Banner
</section>

<section class="side_info">
    <p>
        Noget introducerende tekst omkring hele websiden: Digital Ønskeliste Siden
    </p>
    <p>
        Informativ tekst omkring hvad man kan gøre på forsiden: Vælg enten om du allerede har skabt en bruger eller om du vil skabe ny en bruger på siden ved at trykke på en af de to knapper/felter:
    </p>
</section>

<section class="choices">
    <a href="/login-side" class="button åben-side">
        Har en bruger<br>(åbner Login-Side)
    </a>

    <a href="/lav-bruger-side" class="button åben-side">
        Har en ikke bruger<br>(åbner Lav-Bruger-Side)
    </a>
</section>
</body>
</html>
