<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Digital Ønskeliste Logget Ind På En Konto</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>

<section class="side_banner relative">
    Konto-Side Banner
    <a href="/login-side" class="button åben-side corner-button">
        Log ud<br>(åbner Login-Side)
    </a>
</section>

<section class="side_info">
    <p class="inline">
        Noget introducerende tekst omkring denne side: Dette er her hvor man er logget ind som en bruger. Du er nu
        logget ind som:
    <div class="inline" th:text="${user.getName()}">"Fornavn Efternavn (overført bruger objekt)"</div>
    <p>
        Informativ tekst omkring hvad man kan gøre på sin konto side: Her kan en bruger lave en ny ønskeliste, se
        allerede oprettede ønskesedler, skabe nye ønskesedler, slette en seddel eller gå tilbage til forsiden ved at
        logge ud:
    </p>
</section>

<section class="wish-lists">

    <div class="wish-list">
        <div class="wish-icons grid-child">
            <form method="POST" action="/se-ønskeseddel-side">
                <input type="hidden" name="seddelId" th:value="${user.getWishList(1).getId()}">
                <button type="submit" class="small-button åben-side-med-input">
                    Se Ønskeseddel<br>(åbner Se-Ønskeseddel-Side)
                </button>
            </form>
            <form method="POST" action="/slet-ønskeseddel-side">
                <input type="hidden" name="seddelId" th:value="${user.getWishList(1).getId()}">
                <button type="submit" class="small-button åben-side-med-input">
                    Slet Ønskeseddel<br>(genåbner Konto-Side)
                </button>
            </form>
        </div>
        <article class="grid-child">
            Titel:
            <div class="inline" th:text="${user.getWishList(2).getTitle()}">"JULEGAVER (overført wishList objekt)"</div>
        </article>
    </div>

    <div class="wish-list">
        <div class="wish-icons grid-child">
            <form method="POST" action="/se-ønskeseddel-side">
                <input type="hidden" name="seddelId" th:value="${user.getWishList(2).getId()}">
                <button type="submit" class="small-button åben-side-med-input">
                    Se Ønskeseddel<br>(åbner Se-Ønskeseddel-Side)
                </button>
            </form>
            <form method="POST" action="/slet-ønske-seddel">
                <input type="hidden" name="seddelId" th:value="${user.getWishList(2).getId()}">
                <button type="submit" class="small-button åben-side-med-input">
                    Slet Ønskeseddel<br>(genåbner Konto-Side)
                </button>
            </form>
        </div>
        <article class="grid-child">
            Titel:
            <div class="inline" th:text="${user.getWishList(2).getTitle()}">"Fødselsdag (overført wishList objekt)"
            </div>
        </article>
    </div>

    <div class="wish-list">
        <div class="wish-icons grid-child">
            <form method="POST" action="/skab-ønskeseddel-side">
                <input type="hidden" name="seddelId" th:value="${user.getBrugerNavn()}">
                <button type="submit" class="small-button åben-side-med-input">
                    Skab Ønskeseddel<br>(åbner Skab-Ønskeseddel-Side)
                </button>
            </form>
        </div>
        <article class="grid-child">
            Ingen ønskeseddel er blevet skabt her endnu.
        </article>
    </div>

    <div class="wish-list">
        <div class="wish-icons grid-child">
            <form method="POST" action="/skab-ønskeseddel-side">
                <input type="hidden" name="seddelId" th:value="${user.getBrugerNavn()}">
                <button type="submit" class="small-button åben-side-med-input">
                    Skab Ønskeseddel<br>(åbner Skab-Ønskeseddel-Side)
                </button>
            </form>
        </div>
        <article class="grid-child">
            Ingen ønskeseddel er blevet skabt her endnu.
        </article>
    </div>

</section>

</body>
</html>
