<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Digital Ønskeliste Logget Ind På En Konto</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="sky-background">

    <section class="side_banner relative">
        Konto-Side Banner
        <a href="/login-side" class="button åben-side corner-button">
            Log ud<br>(åbner Login-Side)
        </a>
    </section>

    <section class="side_info">
        <p class="inline">
            Noget introducerende tekst omkring denne side: Dette er her hvor man er logget ind som en bruger. Du er nu
            logget ind som:
        <div class="inline" th:text="${user.getName()}">"Fornavn Efternavn (overført bruger objekt)"</div>
        <p>
            Informativ tekst omkring hvad man kan gøre på sin konto side: Her kan en bruger lave en ny ønskeliste, se
            allerede oprettede ønskesedler, skabe nye ønskesedler, slette en seddel eller gå tilbage til forsiden ved at
            logge ud:
        </p>
    </section>

    <section class="wish-lists" th:utext="${HTMLCode}">

    </section>

</div>
</body>
</html>
